.registration-form {
  padding: 30px 0;
  background: aliceblue;
}

.registration-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.resend-span {
  margin-left: 5px;
  color: rgb(230, 39, 39);
}
.resend-span:hover {
  cursor: pointer;
  color: rgb(170, 17, 17);
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.error {
  color: var(--red);
  font-size: 1rem;
}
.heading {
  color: #007b5e;
  text-align: center;
  font-family: monospace;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }
}
