a.orderHistory {
  margin: 20px;
  color: maroon;
  text-decoration: none;
  font-weight: 500;
  font-family: roboto;
  font-size: 21px;
}
a.orderHistory:hover {
  background: green;
  color: white;
}
.navbar-design link {
  margin: 10px 10px;
}
.nav-link {
  margin: 0px 7px;
  color: white !important;
}
.navCustomStyle {
  margin-top: -18px;
  margin-bottom: 8px;
  background: #195155;
  height: 65px;
}
