#category {
  padding: 2px 4px;
  width: 200px;
  display: block;
  height: 38px;
  background-color: white;
  border: 2px solid maroon;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 16px auto;
}
#category:focus {
  outline: none;
  cursor: pointer;
}
#category:hover {
  cursor: pointer;
}
